# API de google
GOOGLE_API_KEY=pon aquí tu api key de google

# Aquí se guardan las urls de las fuentes de datos
KEV_URL=https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json
MITRE_ENTERPRISE_ATTACK_URL=https://raw.githubusercontent.com/mitre-attack/attack-stix-data/master/enterprise-attack/enterprise-attack.json
ENISA_PDF_URL=https://www.enisa.europa.eu/sites/default/files/2026-01/ENISA%20Threat%20Landscape%202025_v1.2.pdf

# Configuracion de Qdrant
QDRANT_URL=http://localhost:6333 
QDRANT_COLLECTION=threat_intel

# Modelo de embedding que se va a usar
EMBEDDING_MODEL=models/gemini-embedding-001

# Configuración para guardar el proceso de indexación de datos en Qdrand
INDEX_BATCH_SIZE=25
EMBED_SLEEP_SECONDS=0.5
EMBED_MAX_RETRIES=6
EMBED_RETRY_BASE_SECONDS=2.0